Repository ogadra/slide: changes, and which lefthook commands are due for each by the changed paths.
All: 01_typecheck, 02_fix, 03_check

lefthook.yml:

pre-commit:
  parallel: false
  piped: true
  commands:
    01_typecheck:
      root: "home"
      glob: "*.{ts,tsx,js,jsx}"
      stage_fixed: true
      run: npm run typecheck
    01_secrets:
      run: gitleaks protect --staged -v
    02_fix:
      root: "home"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,jsonc}"
      stage_fixed: true
      run: npm run lint:fix {staged_files}
    03_check:
      root: "home"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,jsonc}"
      run: npm run lint {staged_files}

test
  wrangler.jsonc
Due: none

config: enable preview url
  wrangler.jsonc
Due: none

enable drawing tool
  slidev/cloudflare-workers-slidev/slides.md
Due: none

refactor: split files
  home/server.ts
  home/utils/handleWebSocketConnection.ts
Due: 01_typecheck, 02_fix, 03_check

add bcrypt-ts
  home/package.json
  package-lock.json
Due: none

feat: add auth utilities for session management
  home/utils/auth.ts
Due: 01_typecheck, 02_fix, 03_check

feat: add login page and authentication routes
  home/server.ts
  home/utils/login.tsx
Due: 01_typecheck, 02_fix, 03_check

feat: integrate session auth into Durable Object
  home/durableObjects/slideSyncConnectionServer.ts
  home/worker-configuration.d.ts
  wrangler.jsonc
Due: 01_typecheck, 02_fix, 03_check

chore: update config files for auth setup
  .dev.vars.sample
  .gitignore
  home/biome.jsonc
  home/tsconfig.json
Due: 02_fix, 03_check

style: fix indentation in websocket sync
  slidev/cloudflare-workers-slidev/setup/main.ts
Due: none

refactor wrangler.jsonc
  package.json
  wrangler.jsonc
Due: none

feat: add Cloudflare Meet-up Tokyo Vol.9 slide entry
  home/app/index.tsx
Due: 01_typecheck, 02_fix, 03_check

config: add SlideSandbox Object
  wrangler.jsonc
Due: none

package: add @cloudflare/sandbox
  package-lock.json
Due: none

add Sandbox demo
  home/durableObjects/sandbox/Dockerfile
  home/durableObjects/sandbox/handler.ts
  home/package.json
  home/server.ts
Due: 01_typecheck, 02_fix, 03_check

fix: prevent layout shift when toggling CodeBlock edit mode
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

fix: align line numbers with code content
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

refactor: update highlight only when editing ends
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

refactor: remove internalCode state and simplify code management
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

feat: allow Escape key to exit edit mode
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

feat: add execute button to CodeBlock component
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
  slidev/cloudflare-workers-slidev/composables/useCodeExecution.ts
Due: none

feat: pass language to sandbox API
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
  slidev/cloudflare-workers-slidev/composables/useCodeExecution.ts
Due: none

feat: display language label in code block
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

fix: preserve edited code when re-entering edit mode
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

feat: implement sandbox handler with language support
  home/biome.jsonc
  home/durableObjects/sandbox/handler.ts
Due: 01_typecheck, 02_fix, 03_check

refactor
  home/utils/handleWebSocketConnection.ts
  slidev/cloudflare-workers-slidev/components/LiveIcon.vue
  slidev/cloudflare-workers-slidev/setup/main.ts
Due: 01_typecheck, 02_fix, 03_check

feat: display execution result in CodeBlock
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
  slidev/cloudflare-workers-slidev/composables/useCodeExecution.ts
Due: none

refactor: add syntax highlighting for execution result
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

refactor: move execute button inside code block and increase spacing
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

chore: remove mock execution result
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

fix: trim leading newlines from sandbox output
  home/durableObjects/sandbox/handler.ts
Due: 01_typecheck, 02_fix, 03_check

fix: failed to build: invalid tag: repository name must be lowercase
  home/durableObjects/sandbox/handler.ts
  wrangler.jsonc
Due: 01_typecheck, 02_fix, 03_check

feat: add TypeScript file write support in sandbox
  home/durableObjects/sandbox/handler.ts
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
  slidev/cloudflare-workers-slidev/composables/useCodeExecution.ts
Due: 01_typecheck, 02_fix, 03_check

feat: auto-save TypeScript files on edit blur
  home/durableObjects/sandbox/handler.ts
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
  slidev/cloudflare-workers-slidev/composables/useCodeExecution.ts
  slidev/cloudflare-workers-slidev/slides.md
Due: 01_typecheck, 02_fix, 03_check

style: darken code block background for better contrast
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

feat: add sandbox workspace with hono and tsx dependencies
  home/durableObjects/sandbox/Dockerfile
  home/durableObjects/sandbox/handler.ts
  home/durableObjects/sandbox/src/example-1.ts
  home/durableObjects/sandbox/src/package.json
Due: 01_typecheck, 02_fix, 03_check

fix: move execution-result outside code-block-wrapper
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none

feat: add ScrollableContent component for overflow handling
  slidev/cloudflare-workers-slidev/components/ScrollableContent.vue
  slidev/cloudflare-workers-slidev/slides.md
Due: none

style: reduce h2 font size and margin for better spacing
  slidev/cloudflare-workers-slidev/style.css
Due: none

style: reduce code font size for more compact display
  slidev/cloudflare-workers-slidev/components/CodeBlock.vue
Due: none
