Repository ogadra/slide: changes, and which lefthook commands are due for each by the changed paths.
All: 01_typecheck, 02_fix, 03_check

01_typecheck:
  stage_fixed: true
  run: npm run typecheck

02_fix:
  stage_fixed: true
  run: npm run lint:fix {staged_files}

03_check:
  run: npm run lint {staged_files}

chore: relax biome linting rules
  home/biome.jsonc
Due: 02_fix, 03_check

fix: improve iOS Safari demo pattern handling
  home/demo/ios-safari-app-experience/app.tsx
Due: 01_typecheck, 02_fix, 03_check

refactor: improve iOS Safari slides formatting
  slidev/ios-safari-app-experience/slides.md
  slidev/ios-safari-app-experience/style.css
Due: none

feat: enhance iOS Safari slides with 3D visual diagrams
  slidev/ios-safari-app-experience/slides.md
  slidev/ios-safari-app-experience/style.css
Due: none

feat: unify slide layout with side-by-side 3D diagrams
  slidev/ios-safari-app-experience/slides.md
Due: none

refactor: simplify iOS Safari demo event handling and patterns
  home/demo/ios-safari-app-experience/app.tsx
Due: 01_typecheck, 02_fix, 03_check

feat: enhance slide content with iOS/Android compatibility indicators
  slidev/ios-safari-app-experience/slides.md
  slidev/ios-safari-app-experience/style.css
Due: none

feat: enhance iOS Safari slides with consistent styling and improved content
  slidev/ios-safari-app-experience/slides.md
Due: none

feat: redesign platform compatibility badges with modern styling
  slidev/ios-safari-app-experience/slides.md
Due: none

fix: improve Pattern1 layout and messaging in iOS Safari demo
  home/demo/ios-safari-app-experience/app.tsx
Due: 01_typecheck, 02_fix, 03_check

refactor: clean up unused CSS class in iOS Safari demo
  home/demo/ios-safari-app-experience/app.tsx
Due: 01_typecheck, 02_fix, 03_check

feat: adjust 3D diagram positioning for better visual balance
  slidev/ios-safari-app-experience/slides.md
Due: none

feat: restructure summary slide with better layout and hierarchy
  slidev/ios-safari-app-experience/slides.md
  slidev/ios-safari-app-experience/style.css
Due: none

style: update conclusion
  slidev/ios-safari-app-experience/slides.md
Due: none

fix debug code
  home/demo/ios-safari-app-experience/app.tsx
Due: 01_typecheck, 02_fix, 03_check

add smart phone's screenshots
  slidev/ios-safari-app-experience/imgs/android_pattern_0.jpg
  slidev/ios-safari-app-experience/imgs/android_pattern_1.jpg
  slidev/ios-safari-app-experience/imgs/android_pattern_2.jpg
  slidev/ios-safari-app-experience/imgs/android_pattern_3.jpg
  slidev/ios-safari-app-experience/imgs/ios_pattern_0.PNG
  slidev/ios-safari-app-experience/imgs/ios_pattern_1.PNG
  slidev/ios-safari-app-experience/imgs/ios_pattern_2.PNG
  slidev/ios-safari-app-experience/imgs/ios_pattern_3.PNG
Due: none

feat: add comprehensive device screenshot slides with improved layout
  slidev/ios-safari-app-experience/slides.md
Due: none

feat: improve slide layout with unified screenshot and code sections
  slidev/ios-safari-app-experience/slides.md
Due: none

fix: resolve HTML parsing errors and improve code formatting
  slidev/ios-safari-app-experience/slides.md
  slidev/ios-safari-app-experience/style.css
Due: none

feat: add UI screenshot to chat app interface slide
  slidev/ios-safari-app-experience/slides.md
Due: none

chore: remove outdated slide export PNG files
  slidev/ios-safari-app-experience/slides-export/10.png
  slidev/ios-safari-app-experience/slides-export/11.png
  slidev/ios-safari-app-experience/slides-export/12.png
  slidev/ios-safari-app-experience/slides-export/13.png
  slidev/ios-safari-app-experience/slides-export/14.png
  slidev/ios-safari-app-experience/slides-export/15.png
  slidev/ios-safari-app-experience/slides-export/16.png
  slidev/ios-safari-app-experience/slides-export/2.png
  slidev/ios-safari-app-experience/slides-export/3.png
  slidev/ios-safari-app-experience/slides-export/5.png
  slidev/ios-safari-app-experience/slides-export/7.png
  slidev/ios-safari-app-experience/slides-export/8.png
  slidev/ios-safari-app-experience/slides-export/9.png
Due: none

feat: add iOS Safari app experience slide to homepage
  home/app/index.tsx
Due: 01_typecheck, 02_fix, 03_check

feat: add playwright-mcp-deep-dive slide presentation
  package-lock.json
  slidev/playwright-mcp-deep-dive/components/Footer.vue
  slidev/playwright-mcp-deep-dive/global-bottom.vue
  slidev/playwright-mcp-deep-dive/package.json
  slidev/playwright-mcp-deep-dive/pnpm-lock.yaml
  slidev/playwright-mcp-deep-dive/slides.md
  slidev/playwright-mcp-deep-dive/style.css
  slidev/playwright-mcp-deep-dive/uno.config.ts
Due: none

fix: remove accidentally included permissions config from slides
  slidev/playwright-mcp-deep-dive/slides.md
Due: none

feat: expand playwright MCP deep dive with detailed technical sections
  slidev/playwright-mcp-deep-dive/slides.md
  slidev/playwright-mcp-deep-dive/style.css
Due: none

style: improve slide formatting and typography
  slidev/playwright-mcp-deep-dive/slides.md
  slidev/playwright-mcp-deep-dive/style.css
Due: none

feat: implement green color theme with enhanced animations
  slidev/playwright-mcp-deep-dive/slides.md
  slidev/playwright-mcp-deep-dive/style.css
Due: none

refactor: reorganize slide structure and improve content flow
  slidev/playwright-mcp-deep-dive/slides.md
Due: none

fix: correct slide heading levels and add missing title
  slidev/playwright-mcp-deep-dive/slides.md
Due: none

build: add ogp images
  slidev/playwright-mcp-deep-dive/slides-export/1.png
  slidev/playwright-mcp-deep-dive/slides-export/10.png
  slidev/playwright-mcp-deep-dive/slides-export/11.png
  slidev/playwright-mcp-deep-dive/slides-export/12.png
  slidev/playwright-mcp-deep-dive/slides-export/13.png
  slidev/playwright-mcp-deep-dive/slides-export/14.png
  slidev/playwright-mcp-deep-dive/slides-export/15.png
  slidev/playwright-mcp-deep-dive/slides-export/16.png
  slidev/playwright-mcp-deep-dive/slides-export/17.png
  slidev/playwright-mcp-deep-dive/slides-export/18.png
  slidev/playwright-mcp-deep-dive/slides-export/19.png
  slidev/playwright-mcp-deep-dive/slides-export/2.png
  slidev/playwright-mcp-deep-dive/slides-export/20.png
  slidev/playwright-mcp-deep-dive/slides-export/21.png
  slidev/playwright-mcp-deep-dive/slides-export/22.png
  slidev/playwright-mcp-deep-dive/slides-export/23.png
  slidev/playwright-mcp-deep-dive/slides-export/24.png
  slidev/playwright-mcp-deep-dive/slides-export/25.png
  slidev/playwright-mcp-deep-dive/slides-export/26.png
  slidev/playwright-mcp-deep-dive/slides-export/3.png
  slidev/playwright-mcp-deep-dive/slides-export/4.png
  slidev/playwright-mcp-deep-dive/slides-export/5.png
  slidev/playwright-mcp-deep-dive/slides-export/6.png
  slidev/playwright-mcp-deep-dive/slides-export/7.png
  slidev/playwright-mcp-deep-dive/slides-export/8.png
  slidev/playwright-mcp-deep-dive/slides-export/9.png
Due: none

feat: add Work≠Build Meetup Tokyo presentation and assets
  home/app/index.tsx
  slidev/playwright-mcp-best-effort/imgs/twitter.png
  slidev/playwright-mcp-best-effort/imgs/url.png
  slidev/playwright-mcp-deep-dive/slides.md
Due: 01_typecheck, 02_fix, 03_check

fix
  slidev/playwright-mcp-deep-dive/slides.md
Due: none

remove png
  slidev/playwright-mcp-best-effort/imgs/twitter.png
  slidev/playwright-mcp-best-effort/imgs/url.png
Due: none

update ogp
  slidev/playwright-mcp-deep-dive/slides-export/1.png
  slidev/playwright-mcp-deep-dive/slides-export/2.png
  slidev/playwright-mcp-deep-dive/slides-export/4.png
  slidev/playwright-mcp-deep-dive/slides-export/7.png
Due: none

feat(slidev): add cloudflare-workers-slidev presentation with live sync
  slidev/cloudflare-workers-slidev/components/Footer.vue
  slidev/cloudflare-workers-slidev/components/LiveIcon.vue
  slidev/cloudflare-workers-slidev/global-bottom.vue
  slidev/cloudflare-workers-slidev/package.json
  slidev/cloudflare-workers-slidev/setup/connectionState.ts
  slidev/cloudflare-workers-slidev/setup/main.ts
  slidev/cloudflare-workers-slidev/slides.md
  slidev/cloudflare-workers-slidev/style.css
  slidev/cloudflare-workers-slidev/uno.config.ts
Due: none

feat(home): add Durable Objects for WebSocket-based slide sync
  .gitignore
  home/durableObjects/slideSyncConnectionServer.ts
  home/package.json
  home/server.ts
  home/wrangler.jsonc
  package-lock.json
  wrangler.jsonc
Due: 01_typecheck, 02_fix, 03_check

assets: add exported slide thumbnails for cloudflare-workers-slidev
  slidev/cloudflare-workers-slidev/slides-export/1.png
  slidev/cloudflare-workers-slidev/slides-export/2.png
  slidev/cloudflare-workers-slidev/slides-export/3.png
Due: none

fix(home): update build output path for Cloudflare Workers
  home/package.json
Due: none

update wrangler.jsonc for preview
  wrangler.jsonc
Due: none

test: add durable object to slide project
  home/biome.jsonc
  home/durableObjects/slideSyncConnectionServer.ts
  home/package.json
  home/server.ts
  wrangler.jsonc
Due: 01_typecheck, 02_fix, 03_check

Path conditions:
  01_typecheck: any of: *.{ts,tsx,js,jsx} and ^home/
  02_fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,jsonc} and ^home/
  03_check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,jsonc} and ^home/
