Repository ogadra/slide: changes, and which lefthook commands are due for each by the changed paths.
All: 01_typecheck, 02_fix, 03_check

01_typecheck:
  stage_fixed: true
  run: npm run typecheck

02_fix:
  stage_fixed: true
  run: npm run lint:fix {staged_files}

03_check:
  run: npm run lint {staged_files}

move style.css to assets/ to prevent /:slide route from capturing it
  home/app/index.tsx
  home/assets/style.css
  home/package.json
Due: 01_typecheck, 02_fix, 03_check

fix HTMLRewriter singleton accumulating handlers across requests
  home/htmlRewriter.ts
  home/htmlRewriterHandler.ts
Due: 01_typecheck, 02_fix, 03_check

handle undefined slide param in titles()
  home/htmlRewriterHandler.ts
Due: 01_typecheck, 02_fix, 03_check

feat: add terraform-github-management slide deck for LT #337
  package-lock.json
  slidev/terraform-github-management/components/HudAlertSlide.vue
  slidev/terraform-github-management/components/HudBenefitsSlide.vue
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/components/HudConclusionSlide.vue
  slidev/terraform-github-management/components/HudIntroSlide.vue
  slidev/terraform-github-management/components/HudMetric.vue
  slidev/terraform-github-management/components/HudOutroSlide.vue
  slidev/terraform-github-management/components/HudPanel.vue
  slidev/terraform-github-management/components/HudPatternSlide.vue
  slidev/terraform-github-management/components/HudSlide.vue
  slidev/terraform-github-management/components/HudStatusBar.vue
  slidev/terraform-github-management/components/HudTitleSlide.vue
  slidev/terraform-github-management/global-top.vue
  slidev/terraform-github-management/package.json
  slidev/terraform-github-management/slides.md
  slidev/terraform-github-management/style.css
  slidev/terraform-github-management/uno.config.ts
Due: none

udpate title slide
  slidev/terraform-github-management/components/HudTitleSlide.vue
  slidev/terraform-github-management/slides.md
Due: none

refactor
  slidev/terraform-github-management/components/HudTitleSlide.vue
  slidev/terraform-github-management/components/HudTitleSlide/MainPanel.vue
  slidev/terraform-github-management/components/HudTitleSlide/MetricsPanel.vue
  slidev/terraform-github-management/components/HudTitleSlide/ResourcesPanel.vue
  slidev/terraform-github-management/components/HudTitleSlide/TargetPanel.vue
  slidev/terraform-github-management/global-top.vue
  slidev/terraform-github-management/slides.md
Due: none

restructure slides to align with talk script
  slidev/terraform-github-management/components/HudAlertSlide.vue
  slidev/terraform-github-management/components/HudBenefitsSlide.vue
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/components/HudConclusionSlide.vue
  slidev/terraform-github-management/components/HudHookSlide.vue
  slidev/terraform-github-management/components/HudIntroSlide.vue
  slidev/terraform-github-management/components/HudOutroSlide.vue
  slidev/terraform-github-management/components/HudPatternSlide.vue
  slidev/terraform-github-management/components/HudPivotSlide.vue
  slidev/terraform-github-management/global-top.vue
  slidev/terraform-github-management/slides.md
Due: none

add line highlight and enable shiki colors in code blocks
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/slides.md
  slidev/terraform-github-management/style.css
Due: none

redesign benefits slide with before/after cards and meta panels
  slidev/terraform-github-management/components/HudBenefitsSlide.vue
  slidev/terraform-github-management/slides.md
Due: none

merge intro/outro into single closing slide and adjust conclusion spacing
  slidev/terraform-github-management/components/HudClosingSlide.vue
  slidev/terraform-github-management/components/HudConclusionSlide.vue
  slidev/terraform-github-management/components/HudIntroSlide.vue
  slidev/terraform-github-management/components/HudOutroSlide.vue
  slidev/terraform-github-management/slides.md
Due: none

seo: add ogp images
  slidev/terraform-github-management/slides-export/1.png
  slidev/terraform-github-management/slides-export/2.png
  slidev/terraform-github-management/slides-export/3.png
  slidev/terraform-github-management/slides-export/4.png
  slidev/terraform-github-management/slides-export/5.png
  slidev/terraform-github-management/slides-export/6.png
  slidev/terraform-github-management/slides-export/7.png
  slidev/terraform-github-management/slides-export/8.png
Due: none

add terraform-github-management slide to home and ogp titles
  home/app/index.tsx
  home/htmlRewriterHandler.ts
Due: 01_typecheck, 02_fix, 03_check

extract hud tone helpers and remove dead component
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/components/HudConclusionSlide.vue
  slidev/terraform-github-management/components/HudHookSlide.vue
  slidev/terraform-github-management/components/HudMetric.vue
  slidev/terraform-github-management/components/HudStatusBar.vue
  slidev/terraform-github-management/components/HudTitleSlide/ResourcesPanel.vue
  slidev/terraform-github-management/global-top.vue
  slidev/terraform-github-management/utils/hudTone.ts
Due: none

address PR review comments
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/components/HudPanel.vue
  slidev/terraform-github-management/slides.md
  slidev/terraform-github-management/style.css
Due: none

move hook keywords from component to slides.md
  slidev/terraform-github-management/components/HudHookSlide.vue
  slidev/terraform-github-management/slides.md
Due: none

sweep for same review patterns across the deck
  slidev/terraform-github-management/components/HudBenefitsSlide.vue
  slidev/terraform-github-management/components/HudTitleSlide/MetricsPanel.vue
  slidev/terraform-github-management/slides.md
  slidev/terraform-github-management/style.css
Due: none

address review summary findings (new 10)
  slidev/terraform-github-management/components/HudBenefitsSlide.vue
  slidev/terraform-github-management/components/HudClosingSlide.vue
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/components/HudConclusionSlide.vue
  slidev/terraform-github-management/components/HudMetric.vue
  slidev/terraform-github-management/components/HudPanel.vue
  slidev/terraform-github-management/components/HudPivotSlide.vue
  slidev/terraform-github-management/global-top.vue
  slidev/terraform-github-management/package.json
  slidev/terraform-github-management/style.css
  slidev/terraform-github-management/uno.config.ts
  slidev/terraform-github-management/utils/hudTone.ts
Due: none

add NERV-style HUD decoration to global-top
  slidev/terraform-github-management/components/HudMetaBlock.vue
  slidev/terraform-github-management/global-top.vue
Due: none

re-export slides-export PNGs with HUD decoration
  slidev/terraform-github-management/slides-export/1.png
  slidev/terraform-github-management/slides-export/2.png
  slidev/terraform-github-management/slides-export/3.png
  slidev/terraform-github-management/slides-export/4.png
  slidev/terraform-github-management/slides-export/5.png
  slidev/terraform-github-management/slides-export/6.png
  slidev/terraform-github-management/slides-export/7.png
  slidev/terraform-github-management/slides-export/8.png
Due: none

read nav from per-slide injected context for export
  slidev/terraform-github-management/global-top.vue
Due: none

re-export slides-export PNGs with correct chapter numbers
  slidev/terraform-github-management/slides-export/2.png
  slidev/terraform-github-management/slides-export/3.png
  slidev/terraform-github-management/slides-export/4.png
  slidev/terraform-github-management/slides-export/5.png
  slidev/terraform-github-management/slides-export/6.png
  slidev/terraform-github-management/slides-export/7.png
  slidev/terraform-github-management/slides-export/8.png
Due: none

chore: update style
  slidev/terraform-github-management/components/HudBenefitsSlide.vue
  slidev/terraform-github-management/components/HudCodeSlide.vue
  slidev/terraform-github-management/components/HudHookSlide.vue
  slidev/terraform-github-management/components/HudTitleSlide/MetricsPanel.vue
  slidev/terraform-github-management/components/HudTitleSlide/ResourcesPanel.vue
  slidev/terraform-github-management/components/HudTitleSlide/TargetPanel.vue
  slidev/terraform-github-management/global-top.vue
Due: none

chore: update image
  slidev/terraform-github-management/slides-export/1.png
  slidev/terraform-github-management/slides-export/2.png
  slidev/terraform-github-management/slides-export/3.png
  slidev/terraform-github-management/slides-export/4.png
  slidev/terraform-github-management/slides-export/5.png
  slidev/terraform-github-management/slides-export/6.png
  slidev/terraform-github-management/slides-export/7.png
  slidev/terraform-github-management/slides-export/8.png
Due: none

remove latin–japanese boundary spaces in pivot/code/benefits slides
  slidev/terraform-github-management/components/HudPivotSlide.vue
  slidev/terraform-github-management/slides.md
Due: none

re-export slides-export PNGs after spacing fix
  slidev/terraform-github-management/slides-export/3.png
  slidev/terraform-github-management/slides-export/5.png
  slidev/terraform-github-management/slides-export/6.png
  slidev/terraform-github-management/slides-export/8.png
Due: none

switch package manager from npm to pnpm
  .npmrc
  CLAUDE.md
  README.md
  create-slide.sh
  flake.nix
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  slidev/claude-code-presentation/package.json
  slidev/cloudflare-fullstack-application/package.json
  slidev/cloudflare-workers-slidev/package.json
  slidev/ios-safari-app-experience/package.json
  slidev/ja-using-conform-in-remix/package.json
  slidev/lambda-as-an-ecs-alternative/package.json
  slidev/my-strongest-presentation-slides/package.json
  slidev/playwright-mcp-best-effort/package.json
  slidev/playwright-mcp-deep-dive/package.json
  slidev/remix-on-hono/package.json
  slidev/self-hosting-slides/package.json
  slidev/solo-dev-considerations/package.json
  slidev/terraform-github-management/package.json
  slidev/upgrade-to-rrv7/package.json
  slidev/using-conform-in-remix/package.json
  slidev/what-is-this-add-to-calendar-button/package.json
Due: none

provide pnpm via nixpkgs in flake devShell
  flake.nix
  package.json
Due: none

make home build create dist dir before copying
  home/package.json
Due: none

pin @cloudflare/sandbox to 0.7.17
  home/package.json
  pnpm-lock.yaml
Due: none

enable nodejs_compat instead of pinning @cloudflare/sandbox
  home/package.json
  home/wrangler.jsonc
  pnpm-lock.yaml
  wrangler.jsonc
Due: 02_fix, 03_check

feat: add fargate-as-sandbox slide deck
  home/app/index.tsx
  pnpm-lock.yaml
  slidev/fargate-as-sandbox/components/AftermathSlide.vue
  slidev/fargate-as-sandbox/components/BunshinDiagram.vue
  slidev/fargate-as-sandbox/components/CalloutSlide.vue
  slidev/fargate-as-sandbox/components/CaseOpenerSlide.vue
  slidev/fargate-as-sandbox/components/OutroCard.vue
  slidev/fargate-as-sandbox/components/ResolutionSlide.vue
  slidev/fargate-as-sandbox/components/StatementSlide.vue
  slidev/fargate-as-sandbox/components/SummaryCard.vue
  slidev/fargate-as-sandbox/components/TitleCard.vue
  slidev/fargate-as-sandbox/global-top.vue
  slidev/fargate-as-sandbox/imgs/bunshin_architecture.png
  slidev/fargate-as-sandbox/package.json
  slidev/fargate-as-sandbox/slides.md
  slidev/fargate-as-sandbox/style.css
  slidev/fargate-as-sandbox/uno.config.ts
Due: 01_typecheck, 02_fix, 03_check

chore: export fargate-as-sandbox slides for OGP
  home/htmlRewriterHandler.ts
  slidev/fargate-as-sandbox/slides-export/1.png
  slidev/fargate-as-sandbox/slides-export/10.png
  slidev/fargate-as-sandbox/slides-export/11.png
  slidev/fargate-as-sandbox/slides-export/12.png
  slidev/fargate-as-sandbox/slides-export/13.png
  slidev/fargate-as-sandbox/slides-export/14.png
  slidev/fargate-as-sandbox/slides-export/15.png
  slidev/fargate-as-sandbox/slides-export/16.png
  slidev/fargate-as-sandbox/slides-export/17.png
  slidev/fargate-as-sandbox/slides-export/18.png
  slidev/fargate-as-sandbox/slides-export/2.png
  slidev/fargate-as-sandbox/slides-export/3.png
  slidev/fargate-as-sandbox/slides-export/4.png
  slidev/fargate-as-sandbox/slides-export/5.png
  slidev/fargate-as-sandbox/slides-export/6.png
  slidev/fargate-as-sandbox/slides-export/7.png
  slidev/fargate-as-sandbox/slides-export/8.png
  slidev/fargate-as-sandbox/slides-export/9.png
Due: 01_typecheck, 02_fix, 03_check

fix: patch @slidev/client to avoid base path doubling
  package.json
  patches/@slidev__client@52.16.0.patch
  pnpm-lock.yaml
Due: none

chore: bump @slidev/client to ^52.16.0 to match patch target
  package.json
  pnpm-lock.yaml
Due: none

feat: add terraform-domain-destruction slide deck
  home/app/index.tsx
  home/htmlRewriterHandler.ts
  pnpm-lock.yaml
  slidev/terraform-domain-destruction/components/BodySlide.vue
  slidev/terraform-domain-destruction/components/CalloutSlide.vue
  slidev/terraform-domain-destruction/components/CodeBlock.vue
  slidev/terraform-domain-destruction/components/LessonSlide.vue
  slidev/terraform-domain-destruction/components/LogEvidence.vue
  slidev/terraform-domain-destruction/components/MailEvidence.vue
  slidev/terraform-domain-destruction/components/OutroCard.vue
  slidev/terraform-domain-destruction/components/SectionSlide.vue
  slidev/terraform-domain-destruction/components/TitleCard.vue
  slidev/terraform-domain-destruction/global-top.vue
  slidev/terraform-domain-destruction/imgs/domain_deletion.png
  slidev/terraform-domain-destruction/imgs/domain_log.png
  slidev/terraform-domain-destruction/package.json
  slidev/terraform-domain-destruction/slides-export/1.png
  slidev/terraform-domain-destruction/slides-export/10.png
  slidev/terraform-domain-destruction/slides-export/11.png
  slidev/terraform-domain-destruction/slides-export/12.png
  slidev/terraform-domain-destruction/slides-export/13.png
  slidev/terraform-domain-destruction/slides-export/14.png
  slidev/terraform-domain-destruction/slides-export/15.png
  slidev/terraform-domain-destruction/slides-export/16.png
  slidev/terraform-domain-destruction/slides-export/17.png
  slidev/terraform-domain-destruction/slides-export/18.png
  slidev/terraform-domain-destruction/slides-export/19.png
  slidev/terraform-domain-destruction/slides-export/2.png
  slidev/terraform-domain-destruction/slides-export/3.png
  slidev/terraform-domain-destruction/slides-export/4.png
  slidev/terraform-domain-destruction/slides-export/5.png
  slidev/terraform-domain-destruction/slides-export/6.png
  slidev/terraform-domain-destruction/slides-export/7.png
  slidev/terraform-domain-destruction/slides-export/8.png
  slidev/terraform-domain-destruction/slides-export/9.png
  slidev/terraform-domain-destruction/slides.md
  slidev/terraform-domain-destruction/style.css
  slidev/terraform-domain-destruction/uno.config.ts
Due: 01_typecheck, 02_fix, 03_check

update slide style
  slidev/fargate-as-sandbox/components/DemoCard.vue
  slidev/fargate-as-sandbox/imgs/qr.png
  slidev/fargate-as-sandbox/slides.md
  slidev/terraform-domain-destruction/components/BodySlide.vue
  slidev/terraform-domain-destruction/components/LessonSlide.vue
  slidev/terraform-domain-destruction/components/TitleCard.vue
  slidev/terraform-domain-destruction/slides-export/1.png
  slidev/terraform-domain-destruction/slides-export/18.png
  slidev/terraform-domain-destruction/slides-export/19.png
  slidev/terraform-domain-destruction/slides-export/2.png
  slidev/terraform-domain-destruction/slides-export/3.png
  slidev/terraform-domain-destruction/slides.md
Due: none

remove demo
  slidev/fargate-as-sandbox/components/DemoCard.vue
  slidev/fargate-as-sandbox/imgs/qr.png
  slidev/fargate-as-sandbox/slides.md
Due: none

feat: add lightning-talks-in-generative-ai-era slide deck
  pnpm-lock.yaml
  slidev/lightning-talks-in-generative-ai-era/components/CodeSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/HaikuSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/Mascot.vue
  slidev/lightning-talks-in-generative-ai-era/components/SectionOpener.vue
  slidev/lightning-talks-in-generative-ai-era/components/StatementSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/ThemeSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/TitleSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/TwoColumnSlide.vue
  slidev/lightning-talks-in-generative-ai-era/imgs/logo_color_right.svg
  slidev/lightning-talks-in-generative-ai-era/package.json
  slidev/lightning-talks-in-generative-ai-era/slides.md
  slidev/lightning-talks-in-generative-ai-era/style.css
  slidev/lightning-talks-in-generative-ai-era/uno.config.ts
Due: none

fix: correct logo SVG aspect ratio and rename to logo.svg
  slidev/lightning-talks-in-generative-ai-era/components/Mascot.vue
  slidev/lightning-talks-in-generative-ai-era/imgs/logo.svg
Due: none

feat: write talk content and refine slide components
  slidev/lightning-talks-in-generative-ai-era/components/CodeSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/ProblemActionSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/ProfileSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/SectionOpener.vue
  slidev/lightning-talks-in-generative-ai-era/components/ThemeSlide.vue
  slidev/lightning-talks-in-generative-ai-era/components/TwoColumnSlide.vue
  slidev/lightning-talks-in-generative-ai-era/slides.md
  slidev/lightning-talks-in-generative-ai-era/style.css
Due: none

Path conditions:
  01_typecheck: any of: *.{ts,tsx,js,jsx} and ^home/
  02_fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,jsonc} and ^home/
  03_check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,jsonc} and ^home/
